In [24]:
import pandas as pd
import numpy as np

In [25]:
data = pd.read_csv('data.csv')

In [26]:
data

  image_name  image_url  classification  humidity  temperature
0     kmacsd    jhbcsad         akjhdsk   knjhcsd       jknhdc

In [27]:
new_data = pd.DataFrame([['mdkce', 'kldfe', 'mkled', 'mkcdle', 'nkicvd']], columns = data.columns.tolist())

In [28]:
new_data

  image_name  image_url  classification  humidity  temperature
0      mdkce      kldfe           mkled    mkcdle       nkicvd

In [29]:
data = pd.concat([data, new_data])

In [30]:
data

  image_name  image_url  classification  humidity  temperature
0     kmacsd    jhbcsad         akjhdsk   knjhcsd       jknhdc
0      mdkce      kldfe           mkled    mkcdle       nkicvd

In [31]:
data.to_csv('data.csv', index=False)

In [ ]:
def add_data(image_name, image_url, classification, humidity, temperature):
    data = pd.read_csv('data.csv')
    new_data = pd.DataFrame([[image_name, image_url, classification, humidity, temperature]], columns = data.columns.tolist())
    data = pd.concat([data, new_data])
    data.to_csv('data.csv', index=False)